.attendances-table {
    margin-bottom: 0;
}

.attendances-table thead {
  background: transparent !important;
}

.attendances-table th {
    background: transparent !important;
    font-weight: 600;
    color: #495057;
    padding: 14px;
}

.attendances-table td {
    background: transparent !important;
    vertical-align: middle;
    padding: 14px;
}

