
.students-document-container {   
 padding: 15px;
}

.student-document-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.student-document-header h4 {
    margin: 0;
    font-weight: 700;
}

.add-student-document-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}
.add-student-document-btn:hover {
    background: transparent;
    color: #3c58c9;
}

.student-document-table {
    margin-bottom: 0;
}
.student-document-table thead {
  background: transparent !important;
}

.student-document-table th {
    background: transparent !important;
    font-weight: 600;
    color: #495057;
    padding: 14px;
}

.student-document-table td {
    background: transparent !important;
    vertical-align: middle;
    padding: 14px;
}