.student-attendance-container {
    margin-left: 200px;
    padding: 70px 25px;
    background: linear-gradient(
        180deg,
        #3ea0d3,
        #3c58c9
    );
    min-height: 100vh; 
}

.student-attendances-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.student-attendances-table {
    margin-bottom: 0;
}

.student-attendances-table thead {
  background: transparent !important;
}

.student-attendances-table th {
    background: transparent !important;
    font-weight: 600;
    color: #495057;
    padding: 14px;
}

.student-attendances-table td {
    background: transparent !important;
    vertical-align: middle;
    padding: 14px;
}