.teacher-profile {
    margin-left: 200px;
    padding: 70px 25px;
    background: linear-gradient(
        180deg,
        #3ea0d3,
        #3c58c9
    );
    min-height: 100vh;
}

.teacher-card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}
.teacher-profile-header {
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.teacher-profile-avatar {
    width: 140px;
    height: 140px;
    border-radius: 4px;
    background: #e9ecef;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    color: #6c757d;
}
.teacher-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.teacher-edit-image-btn {
    border: none;
    border-radius: 8px;
    font-size: 14px;
    padding: 0px 24px;
    font-weight: 500;
    cursor: pointer;
    background: transparent;
    color: none !important;
    transition: all 0.3s ease;
}

.teacher-edit-image-btn:hover {
    transform: translateY(-2px);
}

.teacher-profile-info {
    flex: 1;
}
.teacher-profile-contact {
    margin-top: 25px;
}
.teacher-profile-contact div {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.teacher-profile-body {
    padding: 25px;
}

.simple-section {
    margin-bottom: 30px;
}

.simple-section h5 {
    margin-bottom: 15px;
    font-weight: 600;
}

.info-line {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 12px;
}

.info-line span {
    margin-right: 10px;
    min-width: 250px;
}

.profile-actions {
    margin-left: auto;
    gap: 12px;
}


.teacher-edit-btn {
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: transparent;
    color: none !important;
    transition: all 0.3s ease;
}

.teacher-edit-btn:hover {
    transform: translateY(-2px);
}
.custom-modal {
    background: linear-gradient(
        180deg,
        #3ea0d3,
        #3c58c9
    ); 
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
    border-radius:15px !important;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: white;
}
.modal-save-btn {
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 8px;
    padding: 8px 20px;
    transition: 0.3s;
}

.modal-save-btn:hover {
    background: white;
    color: #3c58c9;
}

.modal-close-btn {
    background: transparent;
    border: 1px solid rgba(255,255,255,0.5);
    color: white;
    border-radius: 8px;
}

.modal-close-btn:hover {
    background: rgba(255,255,255,0.1);
    color: white;
}
