.student-detail-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.student-detail-header h4 {
    margin: 0;
    font-weight: 700;
}

.student-detail-btn {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s;
}
.student-detail-btn:hover {
    background: transparent;
    color: #3c58c9;
}
.mobile-attendance-card {
    display:none;
}

@media(max-width:480px){
    .student-detail-btn{
        color:#000000;
        border:1px solid rgba(0,0,0,0.2)
    }
    .desktop-attendance-card{
        display:none;
    }

    .mobile-attendance-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .attendance-circle {
        width: 70px;
        height: 70px;
        border-radius: 50%;

        background: conic-gradient(
            #198754 var(--attendance),
            #e9ecef var(--attendance)
        );

        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 12px;
    }

    .attendance-circle-inner {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: white;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .attendance-circle-inner strong {
        font-size: 18px;
        color: #198754;
    }

    .attendance-card span {
        font-size: 15px;
        font-weight: 600;
        color: #475569;
    }
}
